* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

.site-header {
  background-color: #222;
  color: #fff;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f0c040;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #f0c040;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product img {
  width: 100%;
  height: auto;
}

.card {
  padding: 2em;
  background: #fff;
  margin: 2em;
  border-top: 2px solid #eee;
}

body {
  background-color: black;
}
.product {
  background-color: #f0c040;
  text-align: left;
  padding: 2em;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product button {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  background-color: black;
  color: white;
  font-weight: bolder;
  border: none;
}
.sort-buttons button {
  background-color: #f0c040;
  color: #333;
  border: none;
  padding: 12px 20px;
  margin: 5px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.sort-buttons button:hover {
  background-color: #f0c040;
  transform: scale(1.05);
}
/*hihhh*/
@media (max-width: 700px) {
  .product-list {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
